<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="scatter-chart-generator" version="0.1.1">

    <details>
        <title>Scatter chart generator</title>
        <homepage>https://github.com/mognom/scatter-chart-generator-operator</homepage>
        <authors>Alejandro Rodríguez &lt;alex.rodriguez@conwet.com&gt;</authors>
        <email>alex.rodriguez@conwet.com</email>
        <image></image>
        <smartphoneimage></smartphoneimage>
        <description>Generates a scatter plot from a dataset</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/userguide.md</doc>
        <license>MIT</license>
        <issuetracker>https://github.com/mognom/scatter-chart-generator-operator/issues</issuetracker>
    </details>

    <preferences>
        <preference name="title" type="text" label="Chart Title" description="Title used for the chart" default=""/>
        <preference name="x-axis-label" type="text" label="X axis label" description="Label for the X-axis" default=""/>
        <preference name="y-axis-label" type="text" label="Y axis label" description="Label for the Y-axis" default=""/>
    </preferences>

    <wiring>
        <inputendpoint name="x-data-serie" label="X axis data serie" description="The data to be used for the X-axis" type="text" friendcode="number-serie number-list list" />
        <inputendpoint name="y-data-serie" label="Y axis data serie" description="The data to be used for the Y-axis" type="text" friendcode="number-serie number-list list" />

        <outputendpoint name="chart-options" label="Chart Data Model" description="Chart options" type="text" friendcode="highchart-options" />
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
